.swiper-button-prev {
  left: 335px !important;
  top: 335px !important;
}

.swiper-button-next {
  left: 425px !important;
  top: 335px !important;
}

.swiper-button-prev:after {
  content: url('../assets/arrow-left.svg') !important;
}
.swiper-button-next:after {
  content: url('../assets/arrow-right.svg') !important;
}

.swiper-pagination-bullets {
  top: 324px !important;
  left: 375px !important;
  width: auto !important;
}

.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background-color: white !important;
  opacity: 1 !important;
  margin: 2px !important;
}

.swiper-pagination-bullet-active {
  background-color: #E8282B !important;
}